@import "../../styles/abstracts/variables";

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  align-items: center;
  position: sticky;
  top: 0;
  animation: all 0.3 ease-in;
  padding-top: 1rem;
  z-index: 5;
  row-gap: 1rem;
  width: $max-width-padding;
  padding-bottom: 1rem;
  background-color: white;
  &::after {
    border-top: 1px solid gainsboro;
    content: "";
    display: block;
    position: absolute;
    bottom: -15%;
    z-index: 5;
    width: 100%;
    height: 1.5rem;
    background-color: white;
  }
  .placeHolder {
    justify-self: center;
    grid-area: 1/2/2/3;
    display: flex;
    gap: 2rem;
    font-weight: bold;
  }
  .logo {
    display: flex;
    align-items: center;
    grid-area: 1/1/2/2;
    h2 {
      font-weight: 700;
      color: $main-pink;
    }
    svg {
      width: 2rem;
      height: 2rem;
      fill: $main-pink;
    }
  }
}

.scroll {
  height: 6rem;

  .placeHolder {
    display: none;
    grid-template-rows: auto;
  }
}
@media (max-width: 1125px) {
  .logo {
    h2 {
      display: none;
    }
  }
}
@media (max-width: 900px) {
  .header {
    padding-top: 12px;
    grid-template-columns: 80% 15%;
    grid-template-rows: auto;
    justify-content: space-between;

    .placeHolder,
    .logo {
      display: none;
    }
  }
}

@media (max-width: 750px) {
  .header {
    .logo {
      width: fit-content;
      h2 {
        display: none;
      }
    }

    .placeHolder {
      display: none;
    }
    .search {
      width: fit-content;
      grid-template-columns: 40% 30% 15% auto;
      grid-area: 1/2/2/3;
    }
  }
}

@media (max-width: 750px) {
  .header {
    min-width: calc(100svw - 3rem);
    gap: 0.5rem;
    grid-template-columns: 10% 60% 20%;
    justify-content: space-around;

    .logo {
      padding-right: 0;
    }
  }
}
