@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixin";

.header {
  display: grid;
  position: sticky;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 3rem 4rem 5rem;
  align-items: center;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 17rem;
  row-gap: 2rem;
  padding-block: 1rem;
  padding-inline: 4rem;
  background-color: white;
  // transition: all .5s ease-in;
  color: $black-1;
  &::after {
    border-top: 1px solid gainsboro;
    content: "";
    display: block;
    position: absolute;
    bottom: 5.5rem;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    height: 0.1rem;
    background-color: white;
  }

  .logo {
    display: flex;
    align-items: center;
    grid-area: 1/1/2/2;
    h2 {
      font-weight: 800;
      color: $main-pink;
    }
    svg {
      width: 2rem;
      height: 2rem;
      fill: $main-pink;
    }
  }
  &.scroll {
    height: 12rem;
    grid-template-rows: 3rem 5rem;
    gap: 1rem;

    &::after {
      bottom: 6rem;
      z-index: 10;
    }
  }

  &.headerAsModel {
    height: 17rem;
    @include model-boxShadow;
    &:after {
      display: none;
    }
  }
}

.sentinel {
  height: 32px;
  width: 50%;
  position: absolute;
  top: 1px;
  opacity: 0;
}

@media (max-width: 1050px) {
  .header {
    grid-template-columns: 4rem repeat(2, 1fr);
    .logo {
      h2 {
        display: none;
      }
    }
  }
}

@media (max-width: 865px) {
  .header {
    grid-template-columns: 2.5rem 1fr auto;
    justify-content: space-between;
    column-gap: 0;
  }
}

// @media (max-width: 1125px) {
//   .header {
//     grid-template-columns: 2rem 1fr 30rem;
//     grid-template-rows: 3rem auto auto;
//     .placeHolder {
//       grid-area: 2/1/3/-1;
//     }
//     gap: 1rem;
//     height: 14rem;
//     .logo {
//       width: fit-content;
//       h2 {
//         display: none;
//       }
//     }
//   }

//   .scroll {
//     grid-template-columns: repeat(3, 1fr);
//     grid-template-rows: auto;
//     height: 7rem;
//   }
// }
// @media (max-width: 930px) {
//   .scroll {
//     grid-template-columns: 85% 15%;
//     gap: 0;

//     .logo {
//       display: none;
//     }
//   }
// }

@media (max-width: 780px) {
  .sentinel {
    display: none;
  }
  .header {
    grid-template-columns: calc(100% - 4rem) 3rem;
    grid-template-rows: 3.25rem 4rem;
    padding-inline: 1.5rem;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 6px 0px;
    width: 100%;
    &::after {
      display: none;
    }
    .logo {
      display: none;
    }
  }
}
