@import "../../../../styles/abstracts/variables";
@import "../../../../styles/abstracts/mixin";

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  min-width: 25rem;
  padding: 1rem;
  background-color: white;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  border-radius: $border-radius-1;
  border: none;
  box-shadow: 0px 10px 3000px 1500px rgba(0, 0, 0, 0.5);

  header {
    display: flex;
    align-items: center;
    max-height: fit-content;
    text-align: center;
    button {
      font-weight: 700;
    }
    h3 {
      width: 100%;
    }
  }
  form {
    display: grid;

    input {
      padding-left: 0.5rem;
      cursor: text;
      @include border-1;
      border-radius: $border-radius-1-2;
      min-height: 3rem;
      position: relative;

      &:first-of-type {
        @include border-radius-no-bottom;
        margin-top: 1rem;
      }
      &:nth-of-type(2) {
        @include border-1-top;
        @include border-radius-no-top;
        margin-bottom: 1rem;
      }
      &:nth-of-type(3) {
        margin: 0.5rem 0 1rem 0;
      }
      &:nth-of-type(4) {
        margin: 0.5rem 0 1rem 0;
      }
      &:focus {
        border-radius: $border-radius-1-2;
      }
    }

    .actions {
      margin-top: 1rem;
      display: flex;
      align-content: space-between;
      justify-content: space-between;
      button {
        width: fit-content;
        height: 3rem;
        border-radius: $border-radius-1-2;
        background-color: $main-pink;
        justify-self: center;
        color: white;
        font-weight: 700;
        padding-inline: 1rem;
      }
    }
  }
}
