@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixin";

.rooms {
  @include borderBottom-width-color-paddingBottom(1px, $gray-3, 2rem);
  display: grid;
  position: relative;
  width: 100%;
  height: fit-content;
  gap: 0.5rem;
  padding-top: 1rem;
  padding-right: 0.1rem;
  .left {
    left: -1rem;
    rotate: 180deg;
  }
  .right {
    right: calc(1px - 1rem);
  }

  h2 {
    width: fit-content;
  }

  .bedroomList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    gap: 1rem;
    grid-auto-flow: column;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    position: relative;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    min-height: 8.5rem;
    height: inherit;
    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera */
    }
    .bedroom {
      min-height: 8.5rem;
      @include border-solid-color-width-radius($gray-3, 1px, $border-radius-1);
      width: clamp(8rem, 16rem, 20rem);
      @include flex-direction-align-justify-padding-gap(
        column,
        baseline,
        center,
        1rem,
        0
      );
      box-sizing: border-box;
      scroll-snap-align: start;
      .iconList {
        @include flex-direction-gap-padding(row, 0.5rem, 0);
        .iconCon {
          width: 1.5rem;
          aspect-ratio: 1/1;
          svg {
            fill: $black-1;
          }
        }
      }
      h3 {
        font-size: $font-size-18;
        line-height: $line-height-24;
        padding-top: 1.5rem;
        font-weight: 700;
      }
      p {
        font-size: $font-size-14;
        color: $gray-1;
      }
    }

    .bedroomImg {
      @include flex-direction-gap-padding(column, 0, 0);
      min-height: 12rem;
      min-width: 11rem;
      width: 100%;
      height: 100%;
      .imgCon {
        width: 100%;
        height: 100%;
        border-radius: $border-radius-1;
        position: relative;
        img {
          border-radius: $border-radius-1-2;
        }
      }

      h3 {
        font-size: $font-size-18;
        line-height: $line-height-24;
        padding-top: 1.5rem;
        font-weight: 700;
      }
      p {
        font-size: $font-size-14;
        color: $gray-1;
      }
    }
  }

  button {
    width: 1.75rem;
    aspect-ratio: 1/1;
    border-radius: 100vw;
    position: absolute;
    top: 7rem;
    z-index: 1;
    background-color: white;
    border-radius: 100vw;
    box-shadow: 0 0 0 1px transparent, 0 0 0 4px transparent,
      0 2px 4px rgba(0, 0, 0, 0.18);
    padding: 0.5rem;
    svg {
      stroke: $black-1;
      stroke-width: 4;
    }
  }
}
