@media (min-width: 780px) {
  .mobileCon {
    display: none;
  }
}

.mobileCon {
  height: 4rem;
  padding: 0.5rem;
  width: 100%;
  opacity: 1;
  transition: all 0.2s;
}

.notVisible {
 opacity: 0;
  height: 0px;
  padding: 0;
  span,button,img{
    display: none;
  }
}

