@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixin";
.stayPreview {
  background: white;
  transition: transform 0.2s;
  border-radius: $border-radius-1-2;
  min-width: 15rem;
  position: relative;
  @include flex-direction-gap-padding(column, 0, 0);
  font-size: $font-size-16;
  z-index: -1;

  &:hover {
    .imgCon {
      overflow: hidden;
      border-radius: 0.5rem;
      img {
        transition: transform 0.3s ease;
        transform: scale(1.05);
      }
    }
  }
  h6 {
    padding-inline: 0.125rem;
  }
  h5 {
    font-weight: lighter;
    font-size: $font-size-16;
  }
  h3 {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
      "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: $font-size-16;
  }
  .imgCon {
    position: relative;
    margin-bottom: 0.5rem;
    width: 100%;

    box-sizing: border-box;
    aspect-ratio: 1.05/1;
    .image {
      border-radius: $border-radius-1-2;
    }
  }

  .infoHead {
    display: flex;
    justify-content: space-between;
    .rating {
      @include flex-direction-alignItems-gap-padding(row, center, 0, 0.3rem);

      .ratingSvg {
        width: 0.8rem;
        aspect-ratio: 1;
      }
    }
  }
  h6 {
    display: flex;
    font-size: $font-size-15;
    font-weight: lighter;
    color: $gray-1;
  }
  .price {
    @include flex-direction-alignItems-gap-padding(row, center, 0, 0.5rem);
  }
}

.imgLoading {
  display: none;
}

.skeletonImg {
  aspect-ratio: 1;
  max-height: 100%;
  width: 100%;
  @include skeleton;
}
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes glowing {
  from {
    box-shadow: 0 0 5px transparent;
  }
  to {
    box-shadow: 0 0 5px blue;
  }
}
