@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixin";
.stayPreview {
  background: white;
  transition: transform 0.2s;
  border-radius: $border-radius-1-2;
  min-width: 15rem;
  position: relative;
  @include flex-direction-gap-padding(column, 0, 0);
  font-size: $font-size-16;
  z-index: -1;
  color: $black-1;

  &:hover {
    .imgCon {
      overflow: hidden;
      border-radius: 0.5rem;
      img {
        transition: transform 0.3s ease;
        transform: scale(1.05);
      }
    }
  }

  h5 {
    font-size: $font-size-15;
    font-weight: 500;
  }
  h3 {
    font-weight: 700;
    font-size: $font-size-16;
  }
  .imgCon {
    position: relative;
    margin-bottom: 0.5rem;
    width: 100%;

    box-sizing: border-box;
    aspect-ratio: 1.05/1;
    .image {
      border-radius: $border-radius-1-2;
    }
  }

  .infoHead {
    @include flex-direction-align-justify-padding-gap(
      row,
      baseline,
      space-between,
      0,
      0
    );
    .rating {
      @include flex-direction-alignItems-gap-padding(row, center, 0.25rem, 0);
      svg {
        width: 0.75rem;
        aspect-ratio: 1/1;
      }
    }
  }
  h6 {
    display: flex;
    font-size: $font-size-15;
    color: $gray-1;
    font-weight: 400;
  }
  .price {
    @include flex-direction-alignItems-gap-padding(row, center, 0.25rem, 0);
    h3 {
      font-size: $font-size-15;
    }
    h5 {
      font-weight: 300;
      color: $black-1;
    }
  }
}

.imgLoading {
  display: none;
}

.skeletonImg {
  aspect-ratio: 1;
  max-height: 100%;
  width: 100%;
  @include skeleton;
}
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes glowing {
  from {
    box-shadow: 0 0 5px transparent;
  }
  to {
    box-shadow: 0 0 5px blue;
  }
}
