@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixin";

.detailsHeader {
  @include flex-direction-align-justify-padding-gap(
    row,
    center,
    space-between,
    0,
    0
  );
  h1 {
    font-size: $font-size-26;
  }

  .actions {
    @include flex-direction-gap-padding(row, 1rem, 0);
    button {
      position: relative;
    }
  }
}

@media (max-width: 650px) {
  .detailsHeader {
    position: absolute;
    min-width: calc(100svw - 2rem);
    top: 2%;
    right: 2%;
    justify-content: flex-end;
    h1 {
      display: none;
    }

    div {
      gap: 1rem;
      button {
        background-color: white;
        min-width: 1rem;
        aspect-ratio: 1;
        border-radius: 100vw;
        svg {
          stroke-width: 3;
        }
        span {
          display: none;
        }
      }
    }
  }
}
