@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixin";

.likeButton {
  @include flex-direction-alignItems-gap-padding(row, center, 0.5rem, 0);
  position: absolute;
  width: fit-content;
  aspect-ratio: 1/1;
  right: 3%;
  top: 3%;
  stroke-width: 0.15rem;
  stroke: white;
  fill: $gray-1;
  z-index: 1;
  &:hover {
    border-color: $pink-2;
    stroke: $pink-2;
  }
  svg {
    width: 1.25rem;
  }
  span {
    text-decoration: underline;
    font-size: $font-size-14;
    font-weight: 700;
  }
}

.likeSvgActive {
  stroke: white;
  fill: $main-pink;
}
