@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixin";

.likeButton {
  position: absolute;
  width: 1.5rem;
  aspect-ratio: 1;
  right: 3%;
  top: 3%;
  z-index: 1;
  stroke-width: 0.15rem;
  padding: 0;
  stroke: white;
  fill: gray;
}

.likeSvgActive {
  stroke: white;
  fill: $main-pink;
}
