@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixin";

.modalNoUser,
.modalUser {
  @include soft-box-shadow;
  display: grid;
  border-radius: $border-radius-1-2;
  gap: 0.5rem;
  font-size: 0.9rem;
  height: inherit;
  width: inherit;
  li {
    height: 100%;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    font-weight: 300;
    &:first-of-type {
      font-weight: 600;
    }
    &:nth-of-type(2) {
      @include border-1-bottom-only;
    }

    button {
      padding: 0;
      text-align: left;
    }
    &:hover {
      background-color: $main-gray;
      border-radius: $border-radius-1-2;
    }
  }
}
