@import "../../../styles/abstracts/variables.scss";
@import "../../../styles/abstracts/mixin.scss";

.editPrice {
  @include flex-direction-gap-padding(column, 3.5rem, 0);
  padding-inline: calc((100% - 40rem) / 2);
  height: 100%;
  width: 100%;
  padding-top: 6rem;
  .editPriceHeader {
    h1 {
      font-size: $font-size-36;
    }
    p {
      color: $gray-1;
      font-size: $font-size-18;
      font-weight: 500;
    }
  }
  .editPriceDetails {
    @include flex-direction-align-justify-padding-gap(
      column,
      center,
      center,
      0,
      2rem
    );
    .editPriceInput {
      @include flex-direction-align-justify-padding-gap(
        row,
        baseline,
        center,
        0,
        0.25rem
      );
      width: 100%;
      line-height: $line-height-16;
      font-size: $font-size-70;
      font-weight: 700;
      input[type="number"] {
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: textfield;
        appearance: none;
        padding: 0;
        &:hover {
          cursor: text;
        }
      }
      input[type="number"]::-webkit-outer-spin-button,
      input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      span {
        line-height: $line-height-80;
        font-size: $font-size-80;
      }
    }
    .extendPriceBtn {
      color: $gray-1;
      @include flex-direction-align-justify-padding-gap(
        row,
        center,
        center,
        0,
        0.5rem
      );
      width: 100%;
      h2 {
        font-size: $font-size-18;
        font-weight: 500;
      }
      svg {
        width: 0.9rem;
        stroke: $gray-1;
        stroke-width: 4;
        rotate: 90deg;
      }
    }
    .active {
      svg {
        rotate: -90deg;
      }
    }
    .extendPrice {
      @include flex-direction-align-justify-padding-gap(
        column,
        center,
        center,
        0,
        1rem
      );
      box-sizing: border-box;
      min-width: 15rem;
      padding-bottom: 2rem;
      transition: all 0.3s ease-in-out;
      &.full {
        height: 20rem;
      }
      &.hidden {
        height: 0rem;
        padding: 0;
        opacity: 0;
        * {
          display: none;
        }
      }

      .extendPriceDetails {
        @include border-solid-color-width-radius(
          $black-1,
          2px,
          $border-radius-1-2
        );
        @include flex-direction-gap-padding(column, 1rem, 1rem);
        width: 100%;
        span {
          @include flex-space-between-align-center;
          &:last-of-type {
            border-top: 1px solid $gray-3;
            padding-top: 1rem;
            margin-top: 0.5rem;
          }
          h4 {
            font-weight: 400;
            font-size: $font-size-18;
          }
        }
      }

      .stayEarn {
        @include border-solid-color-width-radius(
          $gray-3,
          1px,
          $border-radius-1-2
        );
        @include flex-direction-align-justify-padding-gap(
          row,
          center,
          space-between,
          1rem,
          0
        );
        width: 100%;
      }
    }
  }
}
