@import "../../../styles/abstracts/mixin";
@import "../../../styles/abstracts/variables";

.detailsHero {
  @include borderBottom-width-color-paddingBottom(1px, $gray-3, 2rem);
  color: $black-1;
  display: grid;
  max-width: 100%;

  .detailsHeroHeader {
    font-size: $font-size-22;
    font-weight: 400;
    @include text-overflow-ellipsis;
    font-weight: 600;
  }

  .stayInfo {
    @include flex-direction-gap-padding(row, 0.5rem, 0);
    h3 {
      position: relative;
      font-weight: 500;
      font-size: $font-size-16;

      &:not(:first-of-type)::before {
        font-size: 0.35rem;
        position: absolute;
        left: -0.25rem;
        top: 50%;
        transform: translate(-50%, -50%);
        content: "•";
      }
    }
  }

  .rating {
    @include flex-direction-gap-padding(row, 0.5rem, 0);
    font-size: $font-size-16;
    font-weight: 700;
    svg {
      width: 1rem;
    }
    a {
      margin-left: 0.3rem;
      position: relative;
      text-decoration: underline;
      &::before {
        font-size: 0.5rem;
        position: absolute;
        left: -0.5rem;
        top: 50%;
        transform: translateY(-50%);
        content: "•";
      }
    }
  }
}

@media (max-width: 850px) {
  .detailsHero {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .stayInfo {
      h3 {
        &:not(&:first-of-type) {
          display: none;
        }
      }
    }
  }
}
