@import "../../../../../styles/abstracts/variables";
@import "../../../../../styles/abstracts/mixin";
.preview {
  div {
    display: flex;
    gap: 1rem;
    &:first-of-type {
      align-items: center;
      img {
        border-radius: $border-radius-1-2;
      }
    }
  }

  h3 {
    font-weight: 400;
    font-size: 1rem;
  }
  .rating{
    // justify-self: center;
  }
}
.actions {
  display: flex;
  gap: 1rem;
  button {
    min-width: 5rem;
    height: 2.5rem;
    transition: color 0.2s ease-in-out;
    transition: scale 0.2s ease-in-out;
    font-weight: 600;
    border-radius: $border-radius-1-2;
    color: white;
    &:first-of-type {
      background-color: $main-pink;
    }
    &:last-of-type {
      background-color: $main-cancel;
    }
    &:hover {
      scale: 1.05;
      color: greenyellow;
    }
  }
}
