@import "../../../../styles/abstracts/variables";
@import "../../../../styles/abstracts/mixin";

.list {
  width: 100%;
  display: grid;
  padding-top: 2rem;
  gap: 1rem;
  
  
  li {
    width: 100%;
    display: grid;
    grid-template-columns: 2% 25% 5% 18% 8% 15% 20% ;
    justify-content: space-between;
    &:not(:last-child) {
      @include borderBottom-width-color-paddingBottom(1px, $gray-3, 1rem);
    }
    align-items: center;
    > :first-child {
      justify-self: center;
    }
   
    
  }
}
