@import "./variables";

@mixin border-width-color-paddingBlock($width, $color, $padding) {
  border-bottom: $width solid $color;
  padding-block: $padding;
}
@mixin borderBottom-width-color-paddingBottom($width, $color, $padding) {
  border-bottom: $width solid $color;
  padding-bottom: $padding;
}
@mixin border-solid-color-width($color, $width) {
  border: $width solid $color;
}
@mixin border-dashed-color-width($color, $width) {
  border: $width dashed $color;
}
@mixin borderBottom-width-color($width, $color) {
  border-bottom: $width solid $color;
}
@mixin borderRight-width-color($width, $color) {
  border-right: $width solid $color;
}
@mixin borderPseudo-width-color($width, $color) {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  border: $width solid $color;
}
@mixin text-overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@mixin text-overflow-ellipsis-warp {
  overflow: hidden;
  text-overflow: ellipsis;
}
@mixin text-overflow-ellipsis-warp-off {
  overflow: visible;
  text-overflow: inherit;
}
@mixin soft-box-shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
@mixin grid-columns($cols) {
  display: grid;
  grid-template-columns: repeat($cols, minmax(0, 1fr));
}
@mixin grid-columns-gap($cols, $gap) {
  display: grid;
  grid-template-columns: repeat($cols, minmax(0, 1fr));
  gap: $gap;
}
@mixin bookingBtn() {
  background-color: $main-pink;
  width: 100%;
  min-height: 3rem;
  border-radius: $border-radius-1-2;
  background-image: radial-gradient(
    rgb(255, 56, 92) 0%,
    rgb(230, 30, 77) 27.5%,
    rgb(227, 28, 95) 40%,
    rgb(215, 4, 102) 57.5%,
    rgb(189, 30, 89) 75%,
    rgb(189, 30, 89) 100%
  );
  color: white;
}
@mixin skeleton {
  border-radius: $border-radius-1-2;
  overflow: hidden;
  background: #e0e0e0;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    overflow: hidden;
    transform: translateX(-100%);
    animation: shimmer 2s infinite;
    background-image: linear-gradient(
      to right,
      transparent,
      rgba(255, 255, 255, 0.6),
      transparent
    );
  }
}
@mixin buttonBackground {
  background-image: linear-gradient(
    to bottom,
    rgba(255 255 255 / 0.16),
    rgba(255 255 255 / 0)
  );
}

@mixin base-flex-padding-gap($padding, $gap) {
  padding: $padding;
  display: flex;
  gap: $gap;
}
@mixin base-flex-padding-gap-align($padding, $gap, $align) {
  padding: $padding;
  display: flex;
  gap: $gap;
  align-items: $align;
}
@mixin flex-column-gap-padding($gap, $padding) {
  padding: $padding;
  display: flex;
  flex-direction: column;
  gap: $gap;
}
@mixin flex-space-between-align-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@mixin flex-alignCenter-gap($gap) {
  display: flex;
  align-items: center;
  gap: $gap;
}
@mixin no-scrollBar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
@mixin model-boxShadow {
  box-shadow: 0px 10px 3000px 1500px rgba(0, 0, 0, 0.5);
}
@mixin edit-paragraph {
  font-size: $font-size-18;
  color: $gray-1;
  font-weight: 500;
  letter-spacing: -0.015rem;
}
@mixin model-shadow {
  box-shadow: 0px 10px 3000px 1500px rgba(0, 0, 0, 0.5);
}
@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin center-position($position) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: $position;
}
@mixin side-pseudoBorder() {
  content: "";
  display: block;
  height: 60%;
  width: 2px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='1'%3E%3Cline x1='0' y1='0' x2='0' y2='100%25' style='stroke%3Argb(0%2C0%2C0)%3Bstroke-width%3A1' /%3E%3C/svg%3E");
  position: absolute;
  right: 0;
  top: 20%;
  opacity: 1;
  transform: translateX(50%);
}
