@import "./variables";

@mixin bordered-padding {
  border-bottom: 1px solid gainsboro;
  padding-block: 1rem;
}
@mixin bordered {
  border-bottom: 1px solid gainsboro;
  padding-bottom: 1rem;
}
@mixin border-1 {
  border: 1px solid gainsboro;
}
@mixin border-2 {
  border: 1px solid rgb(34, 34, 34);
}

@mixin border-1-full-color($color) {
  border: 1px solid $color;
}

@mixin border-solid-color-width($color, $width) {
  border: $width solid $color;
}
@mixin border-dashed-color-width($color, $width) {
  border: $width dashed $color;
}

@mixin border-1-left-right-bottom-color($color) {
  border-left: 1px solid $color;
  border-right: 1px solid $color;
  border-bottom: 1px solid $color;
}
@mixin border-1-top {
  border: 1px solid gainsboro;
  border-top: none;
}
@mixin border-1-bottom {
  border: 1px solid gainsboro;
  border-bottom: none;
}
@mixin border-1-bottom-only {
  border-bottom: 1px solid gainsboro;
}

@mixin border-1-left-only {
  border-left: 1px solid gainsboro;
}
@mixin border-1-right-only {
  border-right: 1px solid gainsboro;
}

@mixin border-radius-no-bottom {
  border-radius: $border-radius-1-2 $border-radius-1-2 0 0;
}
@mixin border-radius-no-top {
  border-radius: 0 0 $border-radius-1-2 $border-radius-1-2;
}

@mixin border-pseudo {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #ccc; /* Full border around the element */
  box-sizing: border-box;
}

@mixin text-overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@mixin text-overflow-ellipsis-warp {
  overflow: hidden;
  text-overflow: ellipsis;
}
@mixin text-overflow-ellipsis-warp-off {
  overflow: visible;
  text-overflow: inherit;
}

@mixin soft-box-shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@mixin grid-columns($cols) {
  display: grid;
  grid-template-columns: repeat($cols, minmax(0, 1fr));
}

@mixin bookingBtn() {
  background-color: $main-pink;
  width: 100%;
  min-height: 3rem;
  border-radius: $border-radius-1-2;
  background-image: radial-gradient(
    rgb(255, 56, 92) 0%,
    rgb(230, 30, 77) 27.5%,
    rgb(227, 28, 95) 40%,
    rgb(215, 4, 102) 57.5%,
    rgb(189, 30, 89) 75%,
    rgb(189, 30, 89) 100%
  );
  color: white;
}

@mixin skeleton {
  border-radius: $border-radius-1-2;
  overflow: hidden;
  background: #e0e0e0;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    overflow: hidden;
    transform: translateX(-100%);
    animation: shimmer 2s infinite;
    background-image: linear-gradient(
      to right,
      transparent,
      rgba(255, 255, 255, 0.6),
      transparent
    );
  }
}

@mixin buttonBackground {
  background-image: linear-gradient(
    to bottom,
    rgba(255 255 255 / 0.16),
    rgba(255 255 255 / 0)
  );
}

@mixin base-flex-column {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@mixin flex-column-gap-padding($gap, $padding) {
  padding: $padding;
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin flex-space-between-align-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin no-scrollBar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@mixin model-boxShadow {
  box-shadow: 0px 10px 3000px 1500px rgba(0, 0, 0, 0.5);
}
