$main-pink: rgb(255, 56, 92);
$svg-fill-black: rgb(34, 34, 34);
$svg-fill-gary: rgb(106, 106, 106);

$border-radius-1-2: 0.5rem;
$border-radius-1: 1rem;
$border-radius-2: 2rem;

$max-width-padding: calc(100vw - 8rem);
