$main-pink: rgb(255, 56, 92);
$main-cancel: #2f4858;
$main-pending: #9f4d9c;
$main-link: #635696;
$main-active: #d83c87;

$error-red-1: #c13515;
$error-red-2: #fbdfd9;

$black-1: rgb(34, 34, 34);

$border-soft: rgba(0, 0, 0, 0.05);

$gray-1: #6a6a6a;
$gray-2: rgb(176, 176, 176);
$gray-3: rgb(221, 221, 221);
$gray-4: rgb(247, 247, 247);

$border-radius-1-4: 0.25rem;
$border-radius-1-2: 0.5rem;
$border-radius-1: 1rem;
$border-radius-2: 2rem;

$max-width-padding: calc(100vw - 9rem);
$max-width-padding-details: calc(100vw - 26rem);

$model-btn-shadow: inset 0 2px 12px;

$z-index-base: 1;
$z-index-header: 2;
$z-index-modal: 15;
$z-index-overlay: 20;
$z-index-tooltip: 1300;

$latter-spacing-1: -0.05rem;

$font-size-70: 4.375rem;
$font-size-48: 3rem;
$font-size-32: 2rem;
$font-size-26: 1.625rem;
$font-size-22: 1.375rem;
$font-size-20: 1.25rem;
$font-size-18: 1.125rem;
$font-size-16: 1rem;
$font-size-15: 0.9375rem;
$font-size-14: 0.875rem;
$font-size-12: 0.75rem;
$font-size-10: 0.625rem;

$line-height-26: 1.625rem;
$line-height-20: 1.25rem;
$line-height-18: 1.125rem;
$line-height-15: 0.9375rem;
