@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixin";
.guests {
  height: 4rem;
  box-sizing: border-box;
  padding: 12px 12px 4px 10px;
  position: relative;
  border-radius: $border-radius-2;
  z-index:1000000000;
  &:hover {
    background-color: rgb(245, 245, 240);
    cursor: pointer;
  }

  .total {
    display: flex;
    flex-direction: column;
    span,
    p {
      text-align: start;
    }
    @media (max-width: 900px) {
      padding: 0.5rem 0.25rem 0.25rem 0.25rem;
      justify-content: center;
      height: 100%;
    }
  }

  ul {
    @include soft-box-shadow;
    padding: 1.5rem;
    border-radius: $border-radius-1;
    width: 200%;
    min-width: 20rem;
    top: 110%;
    right: -25%;
    position: absolute;
    background-color: white;
    display: grid;
    z-index:1000000000;
    li {
      display: flex;
      justify-content: space-between;
      &:not(:last-child) {
        @include bordered-padding;
      }
      &:last-child {
        padding-top: 1rem;
      }
      .type {
        h2 {
          font-size: 1rem;
        }
        h3 {
          font-size: 0.8rem;
          color: rgb(121, 121, 121);
          font-weight: 400;
        }
      }
      .actions {
        display: flex;
        align-items: center;
        gap: 1rem;
        button {
          width: 1.75rem;
          padding: 0.5rem;
          fill: rgb(121, 121, 121);
          aspect-ratio: 1/1;
          border-radius: 100vw;
          @include border-1;
        }
      }
    }
  }
}
