@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixin";
.guestsSearch {
  height: 4rem;
  max-height: 100%;
  box-sizing: border-box;
  position: relative;
  border-radius: $border-radius-2;
  z-index: $z-index-header;
  width: 100%;

  .total {
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 4rem;
    width: 100%;
    span {
      text-align: start;
      font-size: $font-size-10;
      font-weight: 800;
    }
    p {
      font-size: $font-size-14;
    }
    @media (max-width: 930px) {
      justify-content: center;
      height: 100%;
    }
  }

  .guestsBookingModel {
    @include soft-box-shadow;
    padding: 1.5rem;
    border-radius: $border-radius-1;
    width: 110%;
    min-width: 20rem;
    top: 110%;
    right: -5%;
    position: absolute;
    background-color: white;
    display: grid;
    z-index: 150000;
    li {
      display: flex;
      justify-content: space-between;
      &:not(:last-child) {
        @include bordered-padding;
      }
      &:last-child {
        padding-top: 1rem;
      }
      .type {
        h2 {
          font-size: 1rem;
        }
        h3 {
          font-size: 0.8rem;
          color: rgb(121, 121, 121);
          font-weight: 400;
        }
      }
      .actions {
        display: flex;
        align-items: center;
        gap: 1rem;
        button {
          width: 1.75rem;
          padding: 0.5rem;
          fill: rgb(121, 121, 121);
          aspect-ratio: 1/1;
          border-radius: 100vw;
          @include border-1;
        }
      }
    }
  }
}

.guestsSearch:has(.guestsBookingModel) {
  &:hover {
    background-color: none;
  }
}

.hover {
  &:hover {
    background-color: rgb(245, 245, 240);
    cursor: pointer;
  }
}
