@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixin";

.filterBtn {
  display: flex;
  border-radius: 0.5rem;
  height: 3rem;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.725rem;
  font-weight: 700;
  padding: 1rem;
  svg {
    stroke-width: 3;
    min-width: 0.9rem;
    display: block;
    aspect-ratio: 1;
    fill: none;
    stroke: currentcolor;
  }
}

.filterModal {
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  max-width: 48rem;
  width: 100%;
  min-width: 41rem;
  transform: translate(-50%, -50%);
  height: 90vh;
  justify-content: space-between;
  border-radius: $border-radius-1;
  box-shadow: 0px 10px 3000px 1500px rgba(0, 0, 0, 0.5);
  animation: slide-up 0.5s ease-out forwards;
  gap: 1rem;
  z-index: 5000;

  header {
    border-top-left-radius: $border-radius-1;
    border-top-right-radius: $border-radius-1;
    display: flex;
    max-height: 4rem;
    gap: 45%;
    align-items: center;
    padding: 1rem 1rem 0 1rem;
    @include bordered-padding;
    button {
      box-shadow: none;
      font-size: 1rem;
      font-weight: 700;
    }
    h1 {
      font-size: 1rem;
      font-weight: 800;
    }
  }

  .container {
    padding-inline: 2rem;
    margin-block: 1rem;
    max-height: calc(100% - 12rem);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    h2 {
      font-size: 1.3rem;
      font-weight: 700;
    }
    p {
      font-size: 1rem;
      font-weight: 400;
    }
    > *:not(:last-child) {
      @include bordered;
    }

    .type {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .typeRadio {
        display: flex;
        width: 100%;
        padding-inline: 2rem;
        li {
          width: 33.3%;
          label {
            width: 100%;
            text-align: center;
            color: $black-1;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1rem;
            min-height: 4rem;
            @include border-1;
            font-weight: 700;
            @include buttonBackground;
          }
          &:first-of-type {
            label {
              border-end-start-radius: $border-radius-1;
              border-top-left-radius: $border-radius-1;
              border-right-color: transparent;
            }
          }
          &:last-of-type {
            label {
              border-start-end-radius: $border-radius-1;
              border-end-end-radius: $border-radius-1;
              border-left-color: transparent;
            }
          }
          label {
            &:hover {
              @include border-1;
              border-color: $black-1;
            }
          }
        }
        input:checked + label {
          background-color: $black-1;
          color: white;
          box-shadow: inset 0 0 2px;
          border: transparent;
        }
      }
    }

    .priceRange {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      input {
        width: calc(100% - 4rem);
        align-self: center;
      }
      .price {
        width: calc(100% - 4rem);
        display: flex;
        gap: 1rem;
        align-self: center;
        justify-content: center;
        align-items: center;
        div {
          @include border-1;
          width: 50%;
          border-radius: $border-radius-1-2;
          padding: 0.5rem;
          h6 {
            font-size: 0.7rem;
            font-weight: 400;
          }
          h3 {
            font-size: 1rem;
            font-weight: 300;
          }
        }
      }
    }

    .rooms {
      input {
        display: none;
      }
      min-height: fit-content;
      display: flex;
      gap: 1rem;
      flex-direction: column;
      div {
        min-height: fit-content;
        display: flex;
        gap: 1rem;
      }
      label {
        border-radius: $border-radius-2;
        min-height: 2rem;
        min-width: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.9rem;

        @include border-1;
      }
    }

    .amenities {
      display: grid;
      gap: 1rem;
      ul {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 1.5rem;
        label {
          display: flex;
          gap: 0.5rem;
          font-size: 1rem;
          font-weight: 300;
          input[type="checkbox"] {
            width: 2rem;
          }
        }
      }
    }
  }

  .actions {
    height: 4rem;
    display: flex;
    padding: 0 2rem 2rem 2rem;
    justify-content: space-between;
    button {
      min-height: 3rem;
      font-weight: 700;
      box-shadow: none;
      border-radius: $border-radius-1-2;

      &:first-of-type {
        color: $black-1;
        width: 6rem;
        &:hover {
          background-color: rgb(233, 233, 233);
        }
      }
      &:last-of-type {
        color: white;
        background-color: $black-1;
        width: 10rem;
        &:hover {
          background-color: black;
        }
      }
    }
  }

  input:checked + label {
    background-color: $black-1;
    color: white;
    box-shadow: inset 0 0 2px;
    border: transparent;
  }
}

@media (max-width: 750px) {
  .filterModal {
    width: 100vw;
    max-width: none;
    min-width: 100vw;

    .container {
      padding-inline: 1rem;
    }
  }
}

@keyframes slide-up {
  from {
    transform: translate(-50%, 100%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
