@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixin";

.about {
  display: grid;
  gap: 1rem;
  max-width: 100%;
  position: relative;
  @include borderBottom-width-color-paddingBottom(1px, $gray-3, 1rem);

  p {
    line-height: $line-height-24;
    max-height: calc(1.5em * 6);
    @include text-overflow-ellipsis-warp;
  }

  .openModelBtn {
    width: fit-content;
    padding: 0;
    display: flex;
    span {
      text-decoration: underline;
    }
    svg {
      width: 0.8rem;
      stroke: currentColor;
      padding-top: 0.3rem;
      align-self: center;
      stroke-width: 2;
    }
  }
}

.model {
  @include center-position(fixed);
  @include model-boxShadow;
  @include flex-direction-gap-padding(column, 1rem, 0.1rem);
  background-color: white;
  z-index: 40;
  height: clamp(20vh, 100%, 90vh);
  width: clamp(15rem, 100%, 50rem);
  border-radius: $border-radius-1-2;
  .closeModelBtn {
    padding-inline: 1rem;
    rotate: 45deg;
    height: 3rem;
    width: 3rem;

    svg {
      height: 3rem;
      width: 3rem;
      fill: $black-1;
    }
  }
  .modelArticle {
    overflow: auto;
    width: 100%;
    padding-inline: 1.5rem;
    padding-bottom: 1rem;
    h1 {
      font-size: $font-size-26;
      padding-bottom: 1.5rem;
    }
    .modelArticle {
      font-size: $font-size-16;
      font-weight: 300;
    }
  }
}

body:has(.model) {
  overflow: hidden;
}
