@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixin";

.about {
  display: grid;
  padding-block: 2rem;
  gap: 1rem;
  max-width: 100%;
  @include borderBottom-width-color-paddingBottom(1px, $gray-3, 1rem);

  p {
    // display: -webkit-box;
    // -webkit-line-clamp: 6;
    // -webkit-box-orient: vertical;
    line-height: 1.5;
    max-height: calc(1.5em * 6);
    @include text-overflow-ellipsis-warp;
  }

  button {
    width: fit-content;
    padding: 0;
    display: flex;
    span {
      text-decoration: underline;
    }
    svg {
      width: 0.8rem;
      stroke: currentColor;
      padding-top: 0.3rem;
      align-self: center;
      stroke-width: 2;
    }
  }
}
.expanded {
  height: fit-content !important ;
  // display: block;
  // -webkit-line-clamp: unset;
  // -webkit-box-orient: vertical;
  // @include text-overflow-ellipsis-warp-off;
}
