// @import "../styles/base/base.scss";


body:has(.ConfirmBookingModal_bookingModal__eZKxT) {
  .ConfirmBookingModal_bookingModal__eZKxT,
  .ConfirmBookingModal_bookingModal__eZKxT * {
    pointer-events: all;
  }
  :not(
      .ConfirmBookingModal_bookingModal__eZKxT,
      .ConfirmBookingModal_bookingModal__eZKxT *
    ) {
    pointer-events: none;
  }
}
body:has(.FilterModal_filterModal__g3mr3) {
  overflow: hidden;

  .FilterModal_filterModal__g3mr3,
  .FilterModal_filterModal__g3mr3 * {
    pointer-events: all;
  }
  :not(.FilterModal_filterModal__g3mr3, .FilterModal_filterModal__g3mr3 *) {
    pointer-events: none;
  }
}
body:has(.Modal_modal__r7jpq) {
  .Modal_modal__r7jpq,
  .Modal_modal__r7jpq * {
    pointer-events: all;
  }
  :not(
      .Modal_modal__r7jpq,
      .Modal_modal__r7jpq *
    ) {
    pointer-events: none;
  }
}




