@import "../styles/base/base.scss";

body:has(.ConfirmBookingModal_bookingModal__eZKxT) {
  .ConfirmBookingModal_bookingModal__eZKxT,
  .ConfirmBookingModal_bookingModal__eZKxT * {
    pointer-events: all;
  }
  :not(
      .ConfirmBookingModal_bookingModal__eZKxT,
      .ConfirmBookingModal_bookingModal__eZKxT *
    ) {
    pointer-events: none;
  }
}
body:has(.FilterModal_filterModal__vFy54) {
  .Header_header__1RJ5C {
    z-index: 1 !important;
  }
  overflow: hidden;
  .FilterModal_filterModal__vFy54,
  .FilterModal_filterModal__vFy54 * {
    pointer-events: all;
  }
  &:not(.FilterModal_filterModal__vFy54, .FilterModal_filterModal__vFy54 *) {
    pointer-events: none;
  }
}
body:has(.Modal_modal__r7jpq) {
  .Modal_modal__r7jpq,
  .Modal_modal__r7jpq * {
    pointer-events: all;
  }
  :not(.Modal_modal__r7jpq, .Modal_modal__r7jpq *) {
    pointer-events: none;
  }
}

body:has(.Header_header__1RJ5C, .Header_scroll__U_gAU) {
  .StayFilter_filter__UnPw2 {
    top: 7rem;
  }
}

body:has(.StayEdit_stayEdit__hjDgw) {
  .Header_header__1RJ5C,
  .Header_sentinel__m7bb3 {
    display: none;
  }
  main{
    padding: 0;
  }
}
