@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixin";

.stayList {
  display: grid;
  @include grid-columns(6);
  gap: 1.5rem;
  position: relative;
  width: 100%;
  z-index: -1;
  @media (max-width: 1700px) {
    @include grid-columns(5);
  }
  @media (max-width:1450px) {
    @include grid-columns(4);
  }
  @media (max-width:1200px) {
    @include grid-columns(3);
  }
  @media (max-width: 680px) {
    @include grid-columns(1);
    padding: 0.1rem;
  }
}
