@import "../../../styles/abstracts/variables.scss";
@import "../../../styles/abstracts/mixin.scss";
.editAmenities {
  width: 100%;
  height: 100%;
  @include flex-direction-alignItems-gap-padding(column, center, 0, 2rem 0 0 0);
  .editAmenitiesHeader {
    h1 {
      font-size: $font-size-36;
    }
    p {
      font-size: $font-size-18;
      color: $gray-1;
    }
    margin-bottom: 2rem;
  }

  .editAmenitiesLists {
    height: calc(100vh - 20rem);
    width: 100%;
    overflow: auto;
    li {
      width: 100%;
      @include flex-direction-alignItems-gap-padding(
        column,
        center,
        1rem,
        2rem
      );
      .editAmenityList {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
        grid-template-rows: repeat(auto-fill, 7.5rem);
        gap: 1rem;
        width: clamp(20rem, 100%, 40rem);
        button {
          height: 6.5rem;
          width: clamp(11rem, 100%, 18.75rem);
          @include border-solid-color-width-radius(
            $gray-3,
            1px,
            $border-radius-1-2
          );
          @include flex-direction-align-justify-padding-gap(
            column,
            flex-start,
            center,
            1rem,
            0.5rem
          );

          svg {
            height: 2rem;
            aspect-ratio: 1/1;
          }
          h4 {
            text-align: left;
            line-height: $line-height-20;
          }
          &:hover {
            border-color: $black-1;
            border-width: 2px;
            transition: border-color 0.3s;
            padding: calc(1rem - 1px);
          }
        }
        .selected {
          border-color: $black-1;
          border-width: 2px;
          padding: calc(1rem - 1px);
        }
      }
    }
  }
}

@media (max-width: 44rem) {
  .editAmenities {
    .editAmenitiesHeader {
      padding-inline: 2rem;
      h1 {
        font-size: $font-size-26;
      }
      p {
        font-size: $font-size-14;
      }
      margin-bottom: 1rem;
    }

    .editAmenitiesLists {
      li {
        .editAmenityList {
          width: 100%;
          button {
            width: 100%;
            min-width: 4rem;
          }
        }
      }
    }
  }
}
