@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixin";

.guestsFilter {
  @include flex-direction-gap-padding("column", 1rem, 1rem);
  width: 100%;

  h1 {
    font-size: 1.4rem;
    font-weight: 800;
    letter-spacing: $latter-spacing-1;
  }

  li {
    display: flex;
    width: 100%;
    justify-content: space-between;
    &:not(:last-of-type) {
      @include borderBottom-width-color-paddingBottom(1px, $gray-3, 1rem);
    }
    div {
      h2 {
        font-size: 1.1rem;
        font-weight: 600;
        letter-spacing: $latter-spacing-1;
      }
      h3 {
        font-size: $font-size-14;
        font-weight: 400;
        color: $gray-1;
      }
    }

    .guestsActions {
      display: flex;
      align-items: center;
      gap: 1rem;
      h4 {
        font-weight: 400;
      }
      button {
        padding: 0.5rem;
        height: 2rem;
        aspect-ratio: 1/1;
        border: 1px solid $gray-3;
        border-radius: 100vw;
        fill: $gray-1;
        svg {
          opacity: 0.8;
        }
        &:disabled {
          opacity: 0.3;
        }
      }
    }
  }
}
