@import "../../../styles/abstracts/variables.scss";
@import "../../../styles/abstracts/mixin.scss";
.stayEditSharedContainer {
  @include flex-direction-gap-padding(column, 3rem, 2rem);
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  h1 {
    font-size: $font-size-36;
    font-weight: 600;
  }

  .btns {
    @include flex-direction-gap-padding(column, 1rem, 0);
    button {
      display: grid;
      grid-template-columns: 80% 3rem;
      justify-content: space-between;
      grid-template-rows: auto auto;
      align-items: center;
      padding: 1rem;

      @include border-solid-color-width-radius($gray-3, 1px, $border-radius-1);

      height: 100%;
      width: 100%;
      height: fit-content;
      min-height: 6rem;
      h3,
      p {
        justify-self: flex-start;
        text-align: left;
      }
      h3 {
        grid-area: 1/1/2/2;
        font-size: $font-size-16;
        font-weight: 700;
      }
      p {
        grid-area: 2/1/-1/2;
      }
      svg {
        grid-area: 1/2/-1/-1;
        height: 2.5rem;
        width: 2.5rem;
        stroke: $black-1;
        fill: $black-1;
        stroke-width: 0.2;
      }
      &:hover {
        border-color: $black-1;
        border-width: 2px;
        transition: border-color 0.3s;
        padding: calc(1rem - 1px);
      }
    }
    .selected {
      border-color: $black-1;
      border-width: 2px;
    }
  }
}

@media (max-width: 40rem) {
  .stayEditSharedContainer {
    padding: 1rem;
    h1 {
      font-size: $font-size-26;
    }
  }
}
