.month {
  width: 100%;
  min-height: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  overflow: hidden;
  div {
    display: flex;
    gap: 1rem;
    font-size: 1rem;
    font-weight: 600;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    height: fit-content;
    button {
      aspect-ratio: 1;
      stroke: black;
      stroke-width: 3;
      padding: 0;
      &:first-of-type {
        transform: rotate(180deg);
      }
      svg {
        width: 1rem;
      }
    }
    &::after {
      content: none !important;
    }
  }
  ul {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-size: 1rem;
    justify-items: center;
    &:first-of-type {
      opacity: 0.7;
    }
    &:last-of-type {
      font-weight: 600;
      height: 100%;

      li {
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .between {
    position: relative;
    background-color: rgba(210, 210, 210, 210);
    p {
      z-index: 1;
    }
    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: -50%;
      width: 50%;
      height: 100%;
      background-color: rgba(210, 210, 210, 210);
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      right: -50%;
      width: 50%;
      height: 100%;
      background-color: rgba(210, 210, 210, 210);
    }
  }

  .marked {
    background-color: black;
    color: white;
    border-radius: 100vw;
    z-index: 3;
  }

  .passDate {
    opacity: 0.7;
    text-decoration: line-through;
    pointer-events: none;
  }
}
