@import "../../styles/abstracts/mixin.scss";
@import "../../styles/abstracts/variables.scss";
.calendar {
  width: 100%;
  position: relative;
  display: grid;
}

.single {
  width: 100%;
}

.double {
  display: flex;
}

.calendar {
  .actions {
    padding-top: 1rem;
    padding-inline: 0.5rem;
    display: flex;
    flex-direction: row !important;
    justify-content: space-between !important;
    button {
      width: fit-content;
      @include border-solid-color-width-radius($black-1, 1px, $border-radius-1-2);
      box-sizing: border-box;
      padding-inline: 0.5rem;
      padding-block: 0.25rem;
      font-weight: 600;
      &:hover {
        background-color: rgb(210, 210, 210);
      }
    }
  }
}
