@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixin";

* > {
  box-sizing: border-box;
}
.details {
  display: grid;
  padding-top: 16px;
  gap: 0.5rem;
  
  .con {
    display: grid;
    grid-template-columns: calc(60% - 1rem) calc(40% - 1.5rem);
    gap: 2.5rem;
    width: 100%;
    .book {
      grid-area: 1/2/-1/-1;
      border: 1px solid black;
      height: 400px;
    }
  }
  .detailsInfo {
    display: grid;
    width: 100%;
    gap: 3rem;
    grid-area: 1/1/2/2;

    .highlights {
      // background-color: red;
      border-bottom: 1px solid gainsboro;
      padding-block: 1rem;
      display: grid;
      gap: 1rem;

      li {
        display: grid;
        grid-template-columns: 1.5rem auto;
        grid-template-rows: 1.5rem 1.5rem;
        column-gap: 1.5rem;
        svg {
          grid-area: 1/1/-1/2;
          align-self: center;
          width: 1.5rem;
          aspect-ratio: 1;
        }
        p {
          &:first-of-type {
            font-weight: 700;
          }
          &:last-of-type {
            font-size: 0.9rem;
            opacity: 0.7;
          }
        }
      }
    }

    .about {
      display: grid;
      gap: 1rem;
      p {
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        @include text-overflow-ellipsis-warp;
        line-height: 1.5;
        height: calc(1.5em * 6);
      }
      button {
        width: fit-content;
        padding: 0;
        display: flex;
        span {
          text-decoration: underline;
        }
        svg {
          width: 0.8rem;
          stroke: currentColor;
          padding-top: 0.3rem;
          align-self: center;
          stroke-width: 2;
        }
      }
    }
  }
}
