@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixin";

* > {
  box-sizing: border-box;
}
.details {
  display: grid;
  padding-top: 1rem;
  gap: 2rem;
  position: relative;

  .con {
    display: grid;
    grid-template-columns: calc(60% - 0.5rem) calc(40% - 0.5rem);
    gap: 1rem;
    max-width: $max-width-padding;
    justify-content: space-between;

    .book {
      grid-area: 1/2/-1/-1;
      border: 1px solid black;
      height: 400px;
    }

    .detailsInfo {
      display: grid;
      grid-area: 1/1/2/2;

      .about {
        display: grid;
        padding-block: 2rem;
        gap: 1rem;
        max-width: 100%;
        @media (max-width: 850px) {
          max-width: 380px;
        }
        p {
          display: -webkit-box;
          -webkit-line-clamp: 6;
          -webkit-box-orient: vertical;
          @include text-overflow-ellipsis-warp;
          line-height: 1.5;
          height: calc(1.5em * 6);
        }
        button {
          width: fit-content;
          padding: 0;
          display: flex;
          span {
            text-decoration: underline;
          }
          svg {
            width: 0.8rem;
            stroke: currentColor;
            padding-top: 0.3rem;
            align-self: center;
            stroke-width: 2;
          }
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .details {
    width: 100%;
    .con {
      grid-template-columns: 100%;
    }
  }
}
