@import "../../../../styles/abstracts/variables";
@import "../../../../styles/abstracts/mixin";
.booking {
  border-radius: $border-radius-1-2;
  display: grid;
  max-height: 28rem;
  width: 100%;
  gap: 1rem;
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  border: 1px solid rgb(221, 221, 221);
  .datesSmall {
    display: none;
  }

  header {
    display: flex;
    gap: 0.5rem;
    align-items: flex-end;
  }
  h1 {
    font-size: 1.3rem;
  }
  h3 {
    font-weight: 300;
  }
  span {
    font-size: 0.6rem;
    font-weight: 700;
  }
  .bookBtn {
    @include bookingBtn;
  }
  .bookingInfo {
    @include border-solid-color-width($gray-3, 1px);
    border-color: rgb(34, 34, 34);
    position: relative;
    z-index: auto;

    max-height: 7rem;
    display: grid;
    grid-template-rows: 50% 50%;
    justify-items: start;
    border-radius: $border-radius-1-2;
    .dates {
      display: grid;
      grid-template-columns: 50% 50%;
      padding: 0.5rem;
      text-align: left;
      width: 100%;
      align-content: center;
      @include border-1-bottom-only;
      border-color: rgb(34, 34, 34);
      div {
        span {
          font-weight: 700;
        }
        p {
          font-weight: 400;
          font-size: 0.9rem;
        }
        &:first-of-type {
          @include border-1-right-only;
          border-color: rgb(34, 34, 34);
        }
        &:last-of-type {
          padding-left: 0.5rem;
        }
      }
    }

    .calendarCon {
      padding: 0.5rem;
      position: absolute;
      z-index: auto;

      background-color: white;
      right: -5%;
      top: 50%;
      width: 110%;
      height: fit-content;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
      @include border-1;
      border-radius: $border-radius-1-2;
    }
  }
  .price {
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    &:nth-of-type(3) {
      @include bordered-padding;
    }
  }
}

@media (max-width: 850px) {
  .booking {
    position: sticky;
    bottom: 0;
    gap: 0;
    background-color: white;
    height: 5rem;
    grid-template-rows: 50% 50%;
    grid-template-columns: 25% 25%;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 0;
    box-shadow: none;
    border: none;
    border-top: 1px solid rgb(221, 221, 221);
    z-index: 1;

    header {
      grid-area: 1/1/2/2;
    }

    .bookingInfo {
      border: none;
      display: block;
      grid-area: 2/1/-1/2;
      .dates {
        display: block;
        width: fit-content;
        padding: 0;
        .datesBig {
          display: none;
        }
        .datesSmall {
          display: block;
          font-size: 0.9rem;
          width: fit-content;
        }
      }
      .calendarCon {
        position: fixed;
        right: 50%;
        top: 37rem;
        transform: translate(50%, -50%);
        width: 70vw;
      }
    }

    .price {
      display: none;
    }

    .bookBtn {
      grid-area: 1/2/-1/-1;
      height: fit-content;
    }

    h1 {
      font-size: 1.1rem;
      font-weight: 600;
    }

    h3 {
      font-size: 1rem;
      font-weight: 400;
    }
  }
}
