@import "../../../styles/abstracts/variables.scss";
@import "../../../styles/abstracts/mixin.scss";

.stayEditName {
  height: 100%;
  width: clamp(15rem, 40rem, 100%);
  padding-top: 2rem;

  .editNameHeader {
    h1 {
      font-size: $font-size-36;
      font-weight: 600;
    }
    p {
      color: $gray-1;
      font-size: $font-size-18;
    }
  }

  .editNameInput {
    padding-top: 2rem;
    textArea {
      @include border-solid-color-width-radius(
        $gray-2,
        1px,
        $border-radius-1-2
      );
      font-size: $font-size-20;
      color: $black-1;
      height: auto;
      resize: none;
      box-sizing: border-box;
      padding: 1rem;
      width: 100%;
      max-width: 100%;
      font-weight: 300;
      &:hover {
        cursor: text;
      }
    }

    .error {
      border-color: $error-red-1;
      background-color: $error-red-2;
      outline: $error-red-1 auto 1px;
    }
    h2 {
      padding-block: 1rem;
      font-size: $font-size-14;
      color: $gray-1;
      font-weight: 800;
    }
    div {
      display: flex;
      gap: 1rem;
      h3 {
        font-size: $font-size-14;
        font-weight: 400;
        color: $error-red-1;
      }
      svg {
        width: 0.75rem;
        fill: $error-red-1;
      }
    }
  }
}

@media (max-width: 40rem) {
  .stayEditName {
    @include flex-direction-align-justify-padding-gap(
      column,
      center,
      center,
      1rem,
      0
    );

    .editNameHeader {
      h1 {
        font-size: $font-size-26;
      }
      p {
        font-size: $font-size-14;
      }
    }
    .editNameInput {
      padding-top: 2rem;
      width: calc(100% - 0.5rem);
      textArea {
        font-size: $font-size-16;
        width: 100%;
      }
    }
  }
}
