@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixin";

.highlights {
  @include borderBottom-width-color-paddingBottom(1px, $gray-3, 2rem);
  display: grid;
  gap: 1rem;
  color: $black-1;
  li {
    display: grid;
    grid-template-columns: 1.5rem auto;
    grid-template-rows: 1.5rem 1.5rem;
    column-gap: 1.5rem;
    svg {
      grid-area: 1/1/-1/2;
      align-self: center;
      width: 1.5rem;
      aspect-ratio: 1/1;
    }
    p {
      &:first-of-type {
        font-weight: 700;
      }
      &:last-of-type {
        font-size: $font-size-15;
        color: $gray-1;
      }
    }
  }
}
