@import "../../../../styles/abstracts/variables";
@import "../../../../styles/abstracts/mixin";

* > {
  box-sizing: border-box;
}
.details {
  display: grid;
  padding-top: 1rem;
  gap: 2rem;
  position: relative;

  .con {
    display: grid;
    grid-template-columns: calc(60vw - 5.5rem) calc(40vw - 5.5rem);
    gap: 1rem;
    max-width: $max-width-padding;
    justify-content: space-between;

    .book {
      grid-area: 1/2/-1/-1;
      border: 1px solid black;
      height: 400px;
    }

    .detailsInfo {
      display: grid;
      grid-area: 1/1/2/2;
    }
  }
}

@media (max-width: 850px) {
  .details {
    padding-bottom: 4rem;
    .con {
      max-width: 100%;
      grid-template-columns: calc(100vw - 4rem);
    }
    .detailsInfo {
      width: 100%;
    }
  }
}
