@import "../../../../styles/abstracts/variables";
@import "../../../../styles/abstracts/mixin";

* > {
  box-sizing: border-box;
}
.details {
  display: grid;
  margin-top: 1rem;
  gap: 1rem;
  position: relative;
  width: 100%;

  .con {
    display: grid;
    grid-template-columns: 60% 35%;
    gap: 1rem;
    max-width: 100%;
    justify-content: space-between;

    .book {
      grid-area: 1/2/-1/-1;
      border: 1px solid black;
      height: 400px;
    }

    .detailsInfo {
      display: grid;
      grid-area: 1/1/2/2;
    }
  }
}

@media (max-width: 850px) {
  .details {
    .con {
      max-width: 100%;
      grid-template-columns: 1fr;
    }
    .detailsInfo {
      width: 100%;
    }
  }
}

body:has(.details) {
  main {
    display: grid;
    grid-template-columns: minmax(50rem, 70rem);
    justify-content: center;
  }

  @media (max-width: 850px){
    main {
      width: 100%;
      grid-template-columns: 1fr;
      padding: 0;
      padding-inline: .25rem;
     
    }
  }
}
