@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixin";

* > {
  box-sizing: border-box;
}
.details {
  display: grid;
  padding-top: 1rem;
  gap: 2rem;
  position: relative;

  .con {
    display: grid;
    grid-template-columns: calc(60% - 0.5rem) calc(40% - 0.5rem);
    gap: 1rem;
    max-width: $max-width-padding;
    justify-content: space-between;

    .book {
      grid-area: 1/2/-1/-1;
      border: 1px solid black;
      height: 400px;
    }

    .detailsInfo {
      display: grid;
      grid-area: 1/1/2/2;
    }
  }
}

@media (max-width: 650px) {
  .details {
    width: 100%;
    .con {
      grid-template-columns: 100%;
    }
  }
}
